.header{
    height: 10vh;
    background-color: #50FF64;
}

body{
    margin: 0;
    background-color: #D0D0D0;
}

.banner{
    height: 20vh;
    background-color: red;
    margin: 4vh 5vh;
    border-radius: 46px;
}

.items{
    /* background-color: black; */
    display: flex;
    flex-wrap: wrap;
    height: 90vh;
    border: #000000;
    border-width: 5px;
    border-style: solid;
    margin: 0vh 3vh;
    justify-content: center;
}

.item{
    height: 30vw;
    width: 23vw;
    background-color: #50FF64;
    margin: 30px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img{
    height: 80%;
}

.item__info{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 10%;
}

.item__info>h2{
    padding-right: 20px;
}

a{
    text-decoration: none;
    height: 10%;;
    background-color: red;
    padding: 10px 80px;
    border-radius: 20px;
}



/* .card{
    color: rebeccapurple;

} */