.header{
    height: 10vh;
    background-color: #50FF64;
}

body{
    margin: 0;
    background-color: #D0D0D0;
}

.banner{
    height: 23vh;
    /* background-color: #29DD3E; */
    background: linear-gradient(to right,#50FF64,#29DD3E);
    margin: 4vh 5vh;
    border-radius: 46px;
}

.items{
    /* background-color: black; */
    display: flex;
    flex-wrap: wrap;
    height: 90vh;
    /* border: #000000;
    border-width: 5px;
    border-style: solid; */
    margin: 0vh 3vh;
    justify-content: center;
}

.item{
    height: 30vw;
    width: 23vw;
    margin: 30px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
}

img{
    height: 80%;
}

.item__info{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 10%;
}

.item__info>h2{
    margin-right: 0px;
    color: #FF6060;
    font-size: 40px;
}

.swg{
    background-image: url(images/mdi--ruble.svg);
    /* background-attachment: fixed; */
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: relative;
    right: 10px;
}



a{
    text-decoration: none;
    background-color: #29DD3E;
    padding: 2% 35%;
    border-radius: 15.5px;
    margin-top: 10%;
}



/* .card{
    color: rebeccapurple;

} */