.header{
    height: 10vh;
    background-color: #50FF64;
}

body{
    margin: 0;
    background-color: #D0D0D0;
}

.banner{
    height: 23vh;
    /* background-color: #29DD3E; */
    background: linear-gradient(to right,#50FF64,#29DD3E);
    margin: 4vh 5vh;
    border-radius: 46px;
}

.items{
    /* background-color: black; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
        "item1 item2 item3"
        "item4 item5 item6";
    grid-gap: 20px;
    align-items: center;
    justify-items: center;
    
    /* border: #000000;
    border-width: 5px;
    border-style: solid; */
    margin: 20px;
}

#item1{
    grid-area: item1;
}

#item2{
    grid-area: item2;
}

#item3{
    grid-area: item3;
}

#item4{
    grid-area: item4;
}

#item5{
    grid-area: item5;
}

#item6{
    grid-area: item6;
}

.item{
    height: calc(100vw/3);
    margin: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    background-size: contain;
    border: #29DD3E 2px;
    border-style: solid;
}

.item__img{
    height: 80%;
}

img{
    height: 100%;
    background-size:cover;
}

.item__info{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 10%;
}

.item__info>h2{
    position: relative;
    left: 20px;
    margin-right: 0px;
    color: #FF6060;
    font-size: 40px;
}

.swg{
    background-image: url(images/mdi--ruble.svg);
    /* background-attachment: fixed; */
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: relative;
    right: 10px;
}



a{
    text-decoration: none;
    background-color: #29DD3E;
    padding: 2% 35%;
    border-radius: 15.5px;
    margin-top: 10%;
}



/* .card{
    color: rebeccapurple;
    test
} */